# Carpetas de compilación y caché
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Archivos de Visual Studio e IDEs
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
